{{- partial "head.html" . -}}
{{- partial "header.html" . -}}
<div class="all-content">

    <h1 class="post-title">{{ .Title }}</h1>
    <p class="author">Posted on {{ .Date.Format "January 02, 2006" }}</p>
    <p class="author">By {{ .Site.Params.author }}. {{ .WordCount }} words. Read by {{ .ReadingTime }} minute(s).</p>
    
    {{ .Content }}
    <p class="author"><a href="https://github.com/blackpiratelive/blog/blob/main/content/{{ .File.BaseFileName }}.{{ .File.Ext }}">edit this page</a></p>
    <p class="author">
        This post is tagged with:
        {{ range (.GetTerms "tags") }}
            <span><a href="{{ .Permalink }}">{{ .LinkTitle }}</a>,</span>
        {{ end }}
    </p>

    
</div>
{{- partial "footer.html" . -}}
</body>
</html>