{{- partial "head.html" . -}}
<div class="all-content">
    {{- partial "header.html" . -}}
    <h1>{{ .Title }}</h1>
    <p class="author">By {{ .Site.Params.author }}. {{ .WordCount }} words. Read by {{ .ReadingTime }} minute(s).</p>
    
    {{ .Content }}
    <p class="author"><a href="https://github.com/blackpiratelive/blog/blob/main/content/{{ .File.BaseFileName }}.{{ .File.Ext }}">edit this page</a></p>
    <p class="author">
        This post is tagged with:
        {{ range (.GetTerms "tags") }}
            <span><a href="{{ .Permalink }}">{{ .LinkTitle }}</a>,</span>
        {{ end }}
    </p>
    {{- partial "footer.html" . -}}
    
</div>
</body>
</html>