{{- partial "head.html" . -}}
<body>
    {{- partial "header.html" . -}}
    <div class="all-content">
        <h4 class="description">{{ .Site.Params.description }}</h4>
        <div class="posts">
            <p class="author">Press CTRL+F to search</p>
            <ul>
                {{- range.RegularPages }}
                <li class="post-list">
                    <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006 Jan 02" }}</time>
                    &ndash;
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </li>
                <hr class="post-divider">
            {{ end -}}
        </ul>
    </div>
    {{- partial "footer.html" . -}}
</div>

<body></html>
