<div id="comments">
  <h3>Comments</h3>

  {{ $slug := .File.BaseFileName }}
  {{ $url := printf "https://blog.blackpiratex.com/api/comments-approved?slug=%s" $slug }}
  {{ $comments := getJSON $url }}

  {{ if $comments }}
    <ul>
      {{ range $comments }}
        {{ if not .parent_id }}
          <li>
            <strong>{{ .name }}</strong> ({{ .created_at }}):<br>
            {{ .message }}

            {{ $replies := where $comments "parent_id" .id }}
            {{ if $replies }}
              <ul>
                {{ range $replies }}
                  <li>
                    <strong>{{ .name }}</strong> ({{ .created_at }}):<br>
                    {{ .message }}
                  </li>
                {{ end }}
              </ul>
            {{ end }}
          </li>
        {{ end }}
      {{ end }}
    </ul>
  {{ else }}
    <p>No comments yet.</p>
  {{ end }}
</div>