<h1 class="main-heading">{{ .Site.Title }}</h1>
<div class="nav-bar">
    <div class="nav-item"><a href="https://blackpiratex.com">home</a></div>
    <div class="nav-item"><a href="https://blackpiratex.com/contact/">contact</a></div>
    <div class="nav-item"><a href="https://blackpiratex.com/about">about</a></div>
    <div class="nav-item"><a href="/">blog</a></div>
    <div class="nav-item"><a href="https://gallery.blackpiratex.com">gallery</a></div>
    <div class="nav-item"><a href="https://status.blackpiratex.com/">status</a></div>
    <div class="nav-item"><a href="/index.xml">subscribe via rss</a></div>
</div>