{{- partial "head.html" . -}}
{{- partial "header.html" . -}}

  <nav class="top-nav">
    <a href="{{ .Site.BaseURL }}">Home</a>
    {{ with site.GetPage "about" }}<a href="{{ .RelPermalink }}">About</a>{{ end }}
    {{ with site.GetPage "archive" }}<a href="{{ .RelPermalink }}">Archive</a>{{ end }}
    {{ with site.GetPage "contact" }}<a href="{{ .RelPermalink }}">Contact</a>{{ end }}
  </nav>

  <header>
    <h1>{{ .Title }}</h1>
    <div class="post-meta">
      {{ if isset .Params "bookauthor" }}
        <small>{{ .Params.bookauthor }}</small>
      {{ else if not .Params.book }}
        <small>
          Posted on {{ .Date.Format "January 02, 2006" }}
          {{ with .Site.Params.author }} by {{ . }}{{ end }}.
          {{ .WordCount }} words. Read in about {{ .ReadingTime }} minutes.
        </small>
      {{ else }}
        {{ with .Params.finishedon }}
          <small>Finished on {{ $.Date.Format "January 02, 2006" }}</small>
        {{ end }}
      {{ end }}
    </div>
  </header>

  <main class="content">
    {{ .Content }}
  </main>

  <section class="post-footer">
    <p>
      <a href="mailto:comments@blackpirateX.com">Send comments</a>
      ·
      <a href="https://github.com/blackpirate/liveblog/blob/main/content/{{ .File.BaseFileName }}{{ .File.Ext }}">Edit this page</a>
    </p>

    {{ if isset .Params "tags" }}
      <div class="tags">
        <small>Tags:</small>
        {{ range $i, $e := .GetTerms "tags" -}}
          {{- if $i }}, {{ end -}}
          <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
        {{- end }}
      </div>
    {{ end }}
  </section>

  <hr />
{{ partial "comments.html" . }}
  {{ partial "show-comments.html" (dict "slug" .File.BaseFileName "File" .File) }}

  <footer>
    {{- partial "footer.html" . -}}
  </footer>

</body>
</html>